<section class="projects">
    <div class="projects__slider">
        <div class="projects__slider-list-container">
            <ul class="projects-slider__list">
                    <li class="projects-slider__item" v-for="(project, index) in projects" :data-index="index">
                        <a href="#" :data-slug="project.slug" :data-locale="selectedLocale.slug" class="projects-slider__item-link">
                        <!-- <router-link :to="{ name: 'project', params: { project: project.slug }}"> -->
                        <!-- <a v-link="{ name: 'project', params: { project: project.slug }}"> -->
                            <!-- <img src="../assets/images/project.png" alt=""> -->
                            <img :src="imagePath(project.image, project.slug)" class="projects-slider__item-img" :data-src="imagePath(project.image, project.slug)">
                            <!-- <img v-lazy="lazyImagePath(project.image, project.slug)" alt="" class="projects-slider__item-img"> -->
                        <!-- </router-link> -->
                        </a>
                    </li>
                </ul>
            <div class="projects-slider__dragging">
                <span class="projects-slider__dragging-arrow projects-slider__dragging-arrow--left"></span>
                <p class="projects-slider__dragging-text">
                    <span v-for="(char, index) in draggingText" :class="'char'+ (index+1)">{{ char }}</span>
                </p>
                <span class="projects-slider__dragging-arrow projects-slider__dragging-arrow--right"></span>
                <img class="projects-slider__dragging-hand" src="~assets/images/dragging-hand.png" alt="">
            </div>
        </div>
        <div class="projects-slider__pagination-container">
            <div class="projects-slider__pagination-container--scrollable">
                <ul class="projects-slider__pagination">
                    <li class="pagination__item" v-for="(project, index) in projects">
                        <a href="#" class="pagination__link text-content">
                            <span class="pagination__number">0{{ index + 1 }}</span>. {{ project.title }}
                        </a>
                    </li>
                </ul>
                <span class="projects-slider__pagination-underline" data-selected="0"></span>
            </div>
        </div>
        <div class="projects-slider__background"></div>
        <div class="projects-slider__text" data-index="0">
            <h3 class="project-title project-text__title">{{ currentProject.title }}</h3>
            <div class="project-text__content">
                <span class="project-subtitle project-text__date">{{ currentProject.date }}</span>
                <span class="project-subtitle-bull project-text__bull">&bull;</span>
                <div>
                    <span class="project-subtitle project-text__type">{{ currentProject.type }}</span>
                    <p class="project-description project-text__description">{{ currentProject.text }}</p>
                </div>
            </div>
        </div>
        <div class="projects-slider__text" data-index="1">
            <h3 class="project-title project-text__title">{{ nextProject.title }}</h3>
            <div class="project-text__content">
                <span class="project-subtitle project-text__date">{{ nextProject.date }}</span>
                <span class="project-subtitle-bull project-text__bull">&bull;</span>
                <div>
                    <span class="project-subtitle project-text__type">{{ nextProject.type }}</span>
                    <p class="project-description project-text__description">{{ nextProject.text }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
