<div>
    <section class="project">
        <section class="project__container">
            <p class="project__img-center project__img-center--top">
                <img :src="imagePath(project.image, project.slug)" alt="">
            </p>

            <project-header :project="project"></project-header>

            <project-content :project="project"></project-content>
        </section>

        <div class="project__background"></div>
    </section>
    <p class="project__close">
        <a href="#" class="link-underline__container project__close-link">Close the project<span class="link-underline"></span></a>
    </p>
</div>
