<section class="hello" :class="loading && this.transitionType !== this.transitionTypes['project-home'] ? 'loading' : ''">
    <div class="hello__loading-right"></div>
    <div class="hello__background"></div>
    <div class="hello__container">
        <div class="hello__content">
            <h2 class="hello__title hello__title--top">{{ 'hello.title' | translate }} <img src="~assets/images/smiley.svg" alt="" class="hello__smiley"></h2>
            <h1 class="hello__title hello__title--bottom" v-html="translate('hello.subtitle')"></h1>
            <p class="hello__text text-content">
                <span v-html="translate('hello.description')"></span>
                <br>
                <a href="/static/CV-Katia-Moreira.pdf" class="link-underline__container hello__link">{{ 'hello.link.resume' | translate }}<span class="link-underline"></span></a>
                <router-link :to="{name: 'contact', params: {locale: selectedLocale.slug}}" class="link-underline__container hello__link">{{ 'hello.link.contact' | translate }}<span class="link-underline"></span></router-link>
            </p>
        </div>
        <div class="hello__image">
            <img src="~assets/images/hello-instagram.png" alt="">
        </div>
    </div>
</section>
