@import '~stylesheets/include/_variables.scss';

.hello.loading {
    .hello__background {
        width: 22px;
    }
    .hello__container {
        left: -50px;
        opacity: 0;
    }
}

.hello.loading-from-project {
    opacity: 0;
}

.hello {
    padding: 30px 0 95px 0;
    position: relative;

    // &.loading {
    //     display: none;
    // }

    .hello__background {
        // width: 22px;
        width: 80%;
        background-color: #FFDFCE;
        position: absolute;
        top: 182px;
        bottom: 0;
        z-index: 0;
    }
    .hello__loading-right {
        width: 22px;
        background: linear-gradient(to bottom, #F2F4F8, #CFE4FC);

        position: absolute;
        top: 182px;
        right: 0;
        z-index: 0;
    }
    .hello__container {
        width: 85%;
        max-width: $layout-width;
        margin: 0 auto;
        position: relative;
        // left: -50px;
        left: 0;
        z-index: 100;
        // opacity: 0;
    }
    .hello__content {
        position: relative;
        z-index: 100;
    }
    .hello__image {
        position: absolute;
        top: 219px;
        right: 0;
    }
    .hello__title {
        font-size: 5.4em;
        color: $blue;
    }
    .hello__title--top {
        padding-bottom: 60px;
    }
    .hello__title--bottom {
        line-height: 1.48em;
    }
    .hello__smiley {
        width: 33px;
        height: 33px;
    }
    .hello__text {
        max-width: 325px;
        margin: 75px 0 0 100px;
        position: relative;
    }
    .hello__link {
        display: inline-block;
        margin-top: 50px;
        color: $blue;
        text-align: center;

        &:last-child {
            position: absolute;
            right: 0;
        }
    }
    .hello__link-animation {
        .link-underline {
            width: 0;
            bottom: 10px;
            left: 0;
            transform: none;
        }
    }
}


@media screen and (max-width: 1024px) {
    .hello {
        .hello__container {
            width: 90%;
        }
        .hello__text {
            margin-left: 50px;
        }
    }
}
@media screen and (max-width: 860px) {
    .hello {
        .hello__image {
            display: none;
        }
    }
}
@media screen and (max-width: 768px) {
    .hello {
        padding-bottom: 37px;

        .hello__background {
            width: 87%;
            top: 101px;
        }
        .hello__loading-right {
            top: 101px;
        }
        .hello__container {
            width: 90%;
        }
        .hello__title--top {
            padding-bottom: 41px;
            font-size: 3.0em;
            line-height: 1.3em;
            letter-spacing: 0.1px;
        }
        .hello__smiley {
            width: 24px;
            height: 24px;
            position: relative;
            top: 1px;
        }
        .hello__title--bottom {
            font-size: 2.8em;
            line-height: 1.4em;
            letter-spacing: 0.1px;
        }
        .hello__text {
            width: 80%;
            margin: 30px 0 0 50px;
            font-size: 1.6em;
            line-height: 1.9em;
        }
        .hello__link {
            &:last-child {
                position: relative;
                right: auto;
                left: 30px;
            }
        }
    }
}
@media screen and (max-width: 320px) {
    .hello {
        .hello__text {
            width: 85%;
            margin-left: 40px
        }
    }
}
