<section class="contact">
    <div class="contact__container">
        <h2 class="contact__title">{{ 'contact.title' | translate }} <img src="~assets/images/smiley.svg" alt="" class="contact__smiley"></h2>
        <h2 class="contact__title">{{ 'contact.subtitle' | translate }}</h2>

        <div class="contact__content">
            <div class="contact__content-left">
                <form class="contact__form" v-on:submit.prevent="submitForm">
                    <div class="contact__email-container">
                        {{ 'contact.to' | translate }} : <span class="contact__email"></span>
                        <br>
                        De : <input type="email" name="email" v-model="email" class="contact__email-from" placeholder="tom-anderson@gmail.com" required>
                    </div>

                    <div class="contact__message">
                        <div class="contact__typewrite typewrite" data-period="800" :data-type="translate('contact.messages')" v-on:click="writeMessage">
                            <span class="wrap"></span>
                        </div>
                        <textarea class="contact__textarea" name="message" v-model="message" required v-on:click="writeMessage" v-on:focusout="focusOutTextarea"></textarea>
                    </div>

                    <p class="link-underline__container contact__send-container contact-send--default">
                        <input type="submit" :value="translate('contact.send')" class="contact-send__input">
                        <span class="link-underline contact-send__underline"></span>
                    </p>
                </form>
                <div class="contact__links-container">
                    <div>
                        <a href="https://twitter.com/kaymorey" class="contact__social-link link-underline__container">Twitter<span class="link-underline"></span></a>
                        <a href="https://www.linkedin.com/in/katiamoreira" class="contact__social-link link-underline__container">LinkedIn<span class="link-underline"></span></a>
                         <a href="https://www.hopwork.fr/profile/katiamoreira" class="contact__social-link link-underline__container">Hopwork<span class="link-underline"></span></a>
                        <a href="/static/CV-Katia-Moreira.pdf" class="contact__social-link link-underline__container">CV<span class="link-underline"></span>
                        </a>
                    </div>
                </div>

                    <!-- <p>{{ 'contact.hi' | translate }}</p>

                    <label for="name">{{ 'contact.label.name' | translate }}</label>
                    <input type="text" name="name" v-model="name" :blur="isValidName" class="contact__input-text" required>

                    <br>

                    <label for="subject">{{ 'contact.label.subject' | translate }}</label>
                    <input type="text" name="subject" v-model="subject" :blur="isValidEmail" class="contact__input-text">

                    <br>

                    <label for="message">{{ 'contact.label.message' | translate }}</label>
                    <br>
                    <div class="contact__textarea-container">
                        <textarea name="message" v-model="message" class="contact__textarea" required></textarea>
                        <div class="contact__textarea-lines">
                            <span class="contact__textarea-line"></span>
                            <span class="contact__textarea-line"></span>
                            <span class="contact__textarea-line"></span>
                            <span class="contact__textarea-line"></span>
                            <span class="contact__textarea-line"></span>
                        </div>
                    </div>

                    <label for="email">{{ 'contact.label.email' | translate }}</label>
                    <input type="email" name="email" v-model="email" :blur="isValidMessage" class="contact__input-text" required>

                    <br>
                    <p>{{ 'contact.seeyou' | translate }}</p> -->
            </div>

            <aside class="contact__content-right">
                <img src="~assets/images/contact-profile.jpg" class="contact__img-profile">
            </aside>
            <p class="contact__errors" v-if="errors.length > 0">
                <template v-for="(error, index) in errors">
                    {{ error }}<br v-if="index !== errors.length-1">
                </template>
            </p>
        </div>
    </div>
    <div class="contact__background"></div>
</section>

