<section class="contact">
    <h3>Bonjour !</h3>

    <form>
        <label>Je m'appelle</label>
        <input type="text" name="" class="contact__input-text">

        <br>

        <label>Je t'envoie ce message parce que</label>
        <input type="text" name="" class="contact__input-text">

        <br>

        <label>Voilà ce que j'ai à te dire</label>
        <br>
        <div class="contact__textarea-container">
            <textarea class="contact__textarea"></textarea>
            <div class="contact__textarea-lines">
                <span class="contact__textarea-line"></span>
                <span class="contact__textarea-line"></span>
                <span class="contact__textarea-line"></span>
                <span class="contact__textarea-line"></span>
                <span class="contact__textarea-line"></span>
            </div>
        </div>

        <label>Tu peux me contacter au mail suivant</label>
        <input type="email" name="" class="contact__input-text">

        <p>A bientôt !</p>

        <p class="link-underline__container contact__send-container">
            <input type="submit" value="Envoyer" class="contact__send">
            <span class="link-underline contact__send-underline"></span>
        </p>
    </form>
</section>
