<div>
    <header class="header" :class="isHomePage ? 'home' : ''">
        <nav class="header__container">
            <h1 class="header__title" :class="isHomePage ? 'header__title--hidden' : ''">
                <router-link :to="{name: 'home'}" class="header-title__link">Katia Moreira</router-link>
            </h1>
            <ul class="header__list">
                <li class="header__item">
                    <a href="" class="header__link header__anchor" data-target=".projects" data-route="home">
                        {{ 'menu.projects' | translate }}
                        <span class="header-link__underline"></span>
                    </a>
                </li>
                <li class="header__item">
                    <router-link :to="{name: 'contact', params: {locale: 'fr'}}" class="header__link" data-route="contact">
                        {{ 'menu.contact' | translate }}
                        <span class="header-link__underline"></span>
                    </router-link>
                </li>
                <li class="header__item">
                <template v-for="(locale, index) in locales">
                    <a href="#" class="header__link header-link__language" :class="selectedLocale.identifier == locale.identifier ? 'header-link__language--selected' : ''" v-on:click.prevent="setLocale(locale)">{{ locale.label }}</a>
                    <template v-if="index == 0">/</template>
                </template>
                </li>
            </ul>
        </nav>
    </header>
    <div id="main-container" :class="sliderToProject ? 'visible' : ''">
        <router-view :menu="menu"></router-view>
    </div>
</div>
