<div>
    <header class="header" :class="sliderToProject ? 'visible' : ''">
        <nav class="header__container">
            <h1 class="header__title">
                <a href="" class="header-title__link">Katia Moreira</a>
            </h1>
            <ul class="header__list">
                <li class="header__item">
                    <a href="" class="header__link header__anchor" data-target=".projects">
                        Projets
                        <span class="header-link__underline"></span>
                    </a>
                </li>
                <li class="header__item">
                    <router-link :to="{name :'contact'}" class="header__link">
                        Bonjour!
                        <span class="header-link__underline"></span>
                    </router-link>
                </li>
                <li class="header__item">
                <template v-for="locale in locales">
                    <a href="#" class="header__link header-link__language header-link__language--selected" v-on:click="setLocale(locale)">{{ locale.label }}</a>
                </template>
                    <!-- <a href="" class="header__link header-link__language header-link__language--selected" :click="changeLocale('en-EN')">En</a>/<a href="" class="header__link header-link__language" :click="changeLocale('fr-FR')">Fr</a> -->
                </li>
            </ul>
        </nav>
    </header>
    <div id="main-container" :class="sliderToProject ? 'visible' : ''">
        <router-view :menu="menu"></router-view>
    </div>
    <footer></footer>
</div>
